<h1>Make your form here</h1>
<form action='/pirates' method="post">
  <h2>Pirate</h2>
  <label for="pirate_name">Name</label>
  <input id="pirate_name" type="text" name="pirate[name]" />
  <label for="pirate_weight">Weight</label>
  <input id="pirate_weight" type="text" name="pirate[weight]" />
  <label for="pirate_height">Height</label>
  <input id="pirate_height" type="text" name="pirate[height]" />

  <h2>Ships</h2>
  <!-- ship 1-->
  <label for="ship_name_1">Name</label>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]" />
  <label for="ship_type_1">Type</label>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]" />
  <label for="ship_booty_1">Booty</label>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" />
  <br>
  <!-- ship 2-->
  <label for="ship_name_2">Name</label>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]" />
  <label for="ship_booty_2">Type</label>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]" />
  <label for="ship_booty_2">Booty</label>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" />
  <input type="submit" id="Submit">
</form>